<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Counting from 0 to 404</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body {
                font-family: "Inter", sans-serif, system-ui;
                background: #c9d9e8;
                height: 100svh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #31456a;
            }
            h1 {
                margin-top: -4rem;
                font-size: calc(1em + 10vw);
                font-weight: 900;
                text-align: right;
                font-feature-settings: "case" on;
                text-shadow: -1px -1px 2px rgba(211, 229, 255, 0.81),
                    1px 1px 2px rgba(20, 44, 73, 0.37);
                background: linear-gradient(
                    279deg,
                    #6b717a 0%,
                    rgba(0, 110, 255, 0.4) 225.55%
                );
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            h2 {
                opacity: 0;
                transition: opacity 1s;
            }
            a {
                color: #9e9e9e;
            }
        </style>
    </head>
    <body>
        <h1 id="counter"></h1>
        <h2>找不到頁面，<a href="/">回首頁</a>吧</h2>
        <script>
            let count = 0;
            const maxCount = 404;
            const counterElement = document.getElementById("counter");

            function updateCounter() {
                if (count <= maxCount) {
                    counterElement.textContent = count;
                    count += 4;
                    setTimeout(updateCounter, count * 0.001);
                } else {
                    document.querySelector("h2").style.opacity = 1;
                }
            }

            updateCounter();
        </script>
    </body>
</html>
