<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/dashboard.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <h1>一個專案</h1>
            <div class="project-info">
                <img
                    src="/static/img/global.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">30</div>
                <img src="/static/img/a.svg" class="project-info-icon" alt="" />
                <div class="carve-text">5</div>
                <img
                    src="/static/img/analytics.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">2000</div>
            </div>
            <div class="nav">
                <a href="" class="current">概述</a>
                <a href="">安裝</a>
                <a href="">管理</a>
                <a href="">設定</a>
            </div>
            <section>
                <h2>本月流量</h2>
                <div class="box line-chart">
                    <div id="increase">+50%</div>
                    <p>+500 MB</p>
                </div>
                <h2>統計</h2>
                <div class="analytics-container">
                    <div class="box">
                        <h3>使用字體</h3>
                        <div><span>5</span>個</div>
                    </div>
                    <div class="box">
                        <h3>使用頁面</h3>
                        <div><span>25</span>個</div>
                    </div>
                    <div class="box">
                        <h3>使用字體</h3>
                        <div><span>3</span>種</div>
                    </div>
                </div>
                <h2>排行榜</h2>
                <div class="rank-container">
                    <div class="rank">
                        <div class="rank-number">1</div>
                        永
                    </div>
                    <div class="rank">
                        <div class="rank-number">2</div>
                        永
                    </div>
                    <div class="rank">
                        <div class="rank-number">3</div>
                        永
                    </div>
                </div>
                <%- include('../partials/friend') %>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
