<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/fonts.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main class="fader">
            <h1>儀錶板</h1>
            <div class="hr"></div>

            <div class="new-container">
                <h2>專案列表</h2>
                <button
                    class="btn"
                    onclick="document.querySelector('main').classList.add('pop')"
                >
                    新增專案
                </button>
            </div>
            <p id="text-title">
                這裡可以線上試用字體，輸入任意文字即可看到效果。
            </p>

            <h2>我的網域</h2>
            <div id="font-container" class="elements"></div>
        </main>
        <div class="box popUp" id="newProject">
            <h2>新增專案</h2>
            <p>專案名稱</p>
            <div class="input">
                <div class="input-container">
                    <input type="text" placeholder="example.com" />
                </div>
            </div>
            <div class="btn">建立</div>
        </div>
        <%- include('../partials/footer') %>
        <script src="/public/emfont.js"></script>
    </body>
</html>
