<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/fonts.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main class="fader">
            <h1>儀錶板</h1>
            <div class="hr"></div>

            <div class="new-container">
                <h2>專案列表</h2>
                <button
                    class="button-cute"
                    onclick="document.querySelector('main').classList.add('pop')"
                >
                    <img src="/static/img/plus.svg" alt="" />
                </button>
            </div>
            <div class="m3-stroke project">
                <div class="m3-content">
                    <div class="volcano"><img src="" alt="" /></div>
                    <div class="project-title">
                        <h3>免費</h3>
                        <p>開源字體，完全免費。</p>
                    </div>
                    <div class="project-data">
                        <div>
                            <img src="/static/img/a-stroke.svg" alt="" />
                            <div class="carve-text">30</div>
                        </div>
                        <div>
                            <img src="/static/img/global-stroke.svg" alt="" />
                            <div class="carve-text">5</div>
                        </div>
                        <div>
                            <img
                                src="/static/img/analytics-stroke.svg"
                                alt=""
                            />
                            <div class="carve-text">2000</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-container">
                <h2>我的網域</h2>
                <button
                    class="button-cute"
                    onclick="document.querySelector('main').classList.add('pop')"
                >
                    <img src="/static/img/plus.svg" alt="" />
                </button>
            </div>
            <div class="domain-container">
                <div class="m3-stroke">
                    <div class="m3-content">
                        <h3>免費</h3>
                        <div class="volcano"><img src="" alt="" /></div>
                    </div>
                </div>
            </div>
            <%- include('../partials/friend') %>
        </main>
        <div class="box popUp" id="newProject">
            <h2>新增專案</h2>
            <p>專案名稱</p>
            <div class="input">
                <div class="input-container">
                    <input type="text" placeholder="example.com" />
                </div>
            </div>
            <div class="btn">建立</div>
        </div>
        <%- include('../partials/footer') %>
        <script src="/public/emfont.js"></script>
    </body>
</html>
