<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/dashboard.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <h1>一個專案</h1>
            <div class="project-info">
                <img
                    src="/static/img/global.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">30</div>
                <img src="/static/img/a.svg" class="project-info-icon" alt="" />
                <div class="carve-text">5</div>
                <img
                    src="/static/img/analytics.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">2000</div>
            </div>
            <div class="nav">
                <a href="../">概述</a>
                <a href="install">安裝</a>
                <a href="files" class="current">管理</a>
                <a href="settings">設定</a>
            </div>
            <section>
                <h2>檔案管理</h2>
                <p>以下是 emfont 所有為你生成的字體檔案</p>
                <div class="board-container">
                    <div class="board-nav box-curved">
                        <h3>共同字體</h3>
                        <button class="box-curved all">/</button>
                        <h3>分頁列表</h3>
                        <button class="box-curved">/home</button>
                        <button class="box-curved">/home</button>
                        <button class="box-curved">/home</button>
                    </div>
                    <div class="board-content box-curved">
                        <div class="board-item">
                            <h3>思源柔黑體</h3>
                            <div class="box-curved">
                                我個人認為義大利麵就應該拌42號混泥土，因為這個螺絲釘的長度很容易直接影響到挖掘機的扭矩。你往裡砸的時候，一瞬間他就會產生大量的高能蛋白，俗稱UFO，會嚴重影響經濟的發展
                                <button class="button-cave">刪除</button>
                            </div>
                        </div>
                        <div class="board-item">
                            <h3>思源柔黑體</h3>
                            <div class="box-curved">
                                我個人認為義大利麵就應該拌42號混泥土，因為這個螺絲釘的長度很容易直接影響到挖掘機的扭矩。你往裡砸的時候，一瞬間他就會產生大量的高能蛋白，俗稱UFO，會嚴重影響經濟的發展
                                <button class="button-cave">刪除</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../partials/friend') %>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
