<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="新增網域 | emfont" />
        <link rel="stylesheet" href="/static/css/fonts.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main class="fader">
            <h1>字體</h1>
            <div class="hr"></div>
            <h2>線上試用</h2>
            <p id="text-title">
                這裡可以線上試用字體，輸入任意文字即可看到效果。
            </p>
            <select
                id="test-select"
                class="btn"
                aria-placeholder="請選擇字體"
            ></select>
            <div class="input test-textarea-container">
                <div class="input-container">
                    <textarea
                        id="test-textarea"
                        rows="3"
                        oninput="updateTextareaFont()"
                    >
我們不是愛情的陌生人。永不放棄，從不讓妳失望，從不背叛拋棄妳。</textarea
                    >
                </div>
            </div>
            <h2>字體列表</h2>
            <div id="font-container" class="elements"></div>
        </main>
        <%- include('../partials/footer') %>
        <script src="/emfont.js"></script>
        <script>
            const select = document.getElementById("test-select");
            const textarea = document.getElementById("test-textarea");
            const textTitle = document.getElementById("text-title");
            const updateTextareaFont = () => {
                textTitle.innerText = "生成中...";
                const fontName = select.value;
                const textList = Array.from(new Set(textarea.value.split("")))
                    .sort()
                    .join("");
                fetch(
                    "https://font.emtech.cc/g/" +
                        fontName.replace("emfont-", ""),
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ words: textList }),
                    }
                )
                    .then(response => response.json())
                    .then(data => {
                        console.warn(
                            "emfont: 字體 " +
                                data.font +
                                "已生成完成，若網頁沒有變動文字可以直接直接載入網址\n" +
                                data.url +
                                " 來使用。"
                        );
                        const fontName = data.font.zh;
                        const font = new FontFace(fontName, `url(${data.url})`);
                        font.load().then(loadedFont => {
                            document.fonts.add(loadedFont);
                            textarea.style.fontFamily = fontName;
                            textTitle.innerText =
                                "這裡可以線上試用字體，輸入任意文字即可看到效果。";
                        });
                    })
                    .catch(error => {
                        console.error("emfont: " + error);
                        textTitle.innerText =
                            "字體生成失敗，很有可能是我們還在整理檔案，請稍後再試。";
                    });
            };
            document.addEventListener("DOMContentLoaded", function () {
                fetch("https://font.emtech.cc/list")
                    .then(response => response.json())
                    .then(fontData => {
                        const container =
                            document.getElementById("font-container");
                        Object.keys(fontData).forEach(key => {
                            const font = fontData[key];
                            const div = document.createElement("article");
                            div.classList.add("box");
                            div.innerHTML = `<div class="${
                                font.class
                            } forever">永</div><h3> <a target="_blank" class="${
                                font.class
                            }" href="${font.source}">
                                    ${font.name.zh}</a><span class="license">${
                                font.license ? font.license : ""
                            }</span></h3><div class="carve-text">${
                                font.class
                            } <div class="copy"
                                            onclick="navigator.clipboard.writeText('${
                                                font.class
                                            }');this.innerHTML='已複製';setTimeout(()=>{this.innerHTML='<img src=/static/img/copy.svg />'},1000)"><img
                                            src="/static/img/copy.svg" /></div></div>
                                    <p>
                                    風格: ${font.style
                                        .toString()
                                        .replaceAll(",", ", ")}<br>
                                    字重: ${
                                        font.weight
                                    }<br><span class="version">${
                                font.version
                            }</span>`;
                            container.appendChild(div);
                            const option = document.createElement("option");
                            option.value = font.class;
                            option.innerText =
                                font.name.zh + " (" + font.class + ")";
                            select.appendChild(option);
                        });
                        select.selectedIndex = 0;
                        updateTextareaFont();
                        emfont.init(function () {
                            console.log("所有字體載入完成!");
                        });
                    });
            });

            select.addEventListener("change", updateTextareaFont);
        </script>
    </body>
</html>
