<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>emfont - 免費中文 Webfont 服務</title>
        <meta name="theme-color" content="#111" />
        <meta
            name="description"
            content="網頁中文字體的選擇和使用一直是個挑戰，因為檔案龐大、需要耗費大量流量，很少有免費中文字體的 webfont 服務。
        emfont 的誕生正是為了填補這一空白，我們整理了許多開源免費的字體。為小型開發者和個人提供一個優秀的中文字體解決方案。"
        />
        <meta name="author" content="毛哥EM" />
        <meta name="keywords" content="emfont, webfont, 中文字體, 免費, 開源" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="emfont - 免費為你的文字注入靈魂" />
        <meta property="og:site_name" content="emfont" />
        <meta
            property="og:description"
            content="網頁中文字體的選擇和使用一直是個挑戰，因為檔案龐大、需要耗費大量流量，很少有免費中文字體的 webfont 服務。
        emfont 的誕生正是為了填補這一空白，我們整理了許多開源免費的字體。為小型開發者和個人提供一個優秀的中文字體解決方案。"
        />
        <meta property="og:locale" content="zh-TW" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/home.css" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async=""
            src="https://www.googletagmanager.com/gtag/js?id=G-H69XEEC798"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-H69XEEC798");
        </script>
    </head>
    <body class="emfont-NotoSansTC">
        <nav>
            <div>
                <div class="nav-left"><div class="logo">emfont</div></div>
                <div class="nav-right">
                    <a href="/fonts">字體列表</a>
                    <a href="/docs">文檔</a>
                    <a class="github" href="https://github.com/edit-Mr/emfont"
                        ><img src="/static/img/GitHub.svg" alt=""
                    /></a>
                    <a href="https://discord.gg/W8r9x4PwUE"><img src="/static/img/Discord.svg" alt="" /></a>
                    <a href="/login" class="login">登入</a>
                </div>
            </div>
        </nav>
        <header>
            <div class="circle">
                <div class="spaghetti"><div id="spaghetti"></div></div>
                <div class="circle2"></div>
            </div>
            <div class="header-content">
                <h1 class="slideIn aos">不必<br />微軟正黑</h1>
                <p class="slideIn aos">免費為你的文字注入靈魂<br /></p>
            </div>
        </header>
        <main>
            <section id="intro" class="slideIn aos">
                <h2>專為中文而建的<br />免費開源 Webfont 服務</h2>
                <p>
                    文字是網站的靈魂，是思想的表達，更是美感的載體。然而，中文字體因為檔案龐大、需要耗費大量流量，很少有免費中文字體的
                    webfont 服務。emfont
                    的誕生正是為了填補這一空白，整理了許多開源免費的字體。為小型開發者和個人提供一個優秀的中文字體解決方案。
                </p>
            </section>
            <section id="m3">
                <h2 class="slideIn aos">我懂你，<i>M3?</i></h2>
                <div class="m3-container slideIn aos elements">
                    <div class="m3-stroke">
                        <div class="m3-content">
                            <div>
                                <h3>免費</h3>
                                <p>開源字體，完全免費。</p>
                            </div>
                            <div class="volcano"><img src="" alt="" /></div>
                        </div>
                    </div>

                    <div class="m3-stroke">
                        <div class="m3-content">
                            <div>
                                <h3>簡單</h3>
                                <p>
                                    只需一行 JavaSript，<br />自動完成所有操作。
                                </p>
                            </div>
                            <div class="volcano"><img src="" alt="" /></div>
                        </div>
                    </div>

                    <div class="m3-stroke">
                        <div class="m3-content">
                            <div>
                                <h3>極致壓縮</h3>
                                <p>
                                    字體檔預設壓縮為 .woff 格式，<br />載入速度快。
                                </p>
                            </div>
                            <div class="volcano"><img src="" alt="" /></div>
                        </div>
                    </div>

                    <div class="m3-stroke">
                        <div class="m3-content">
                            <div>
                                <h3>細微控制</h3>
                                <p>根據網站分頁格式，<br />自訂生成規則。</p>
                            </div>
                            <div class="volcano"><img src="" alt="" /></div>
                        </div>
                    </div>

                    <div class="m3-stroke">
                        <div class="m3-content">
                            <div>
                                <h3>明確授權條款</h3>
                                <p>所有字體接標示授權條款，<br />避免侵權。</p>
                            </div>
                            <div class="volcano"><img src="" alt="" /></div>
                        </div>
                    </div>

                    <div class="m3-stroke">
                        <div class="m3-content">
                            <div>
                                <h3>開源</h3>
                                <p>採用 Apache-2.0 授權。</p>
                            </div>
                            <div class="volcano"><img src="" alt="" /></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="hakka" class="slideIn aos">
                <h2>客家級壓縮</h2>
                <p>
                    emfont
                    會提取網頁中所有文字，打包一份專屬的字體檔案給你，不會多收錄一個字。
                </p>
                <div class="squeeze-container">
                    <div>
                        <p>以 550 字網站為例。</p>
                        <div class="squeeze-chart">
                            <div>
                                <h3>原始字體</h3>
                                <div class="squeeze-row">
                                    <div>
                                        <div
                                            class="squeeze-line squeeze-original"
                                        ></div>
                                        <span>18.6 MB</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>emfont</h3>
                                <div class="squeeze-row">
                                    <div>
                                        <div
                                            class="squeeze-line squeeze-emfont ed"
                                        ></div>
                                        <span>115 KB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="usage">
                <div>
                    <h2 class="slideIn aos">引入，啟動</h2>
                    <p class="slideIn aos">就是這麼簡單。</p>
                </div>
                <div class="box">
                    <div>
                        <pre><code class="aos"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"emfont-jfopenhuninn"</span>&gt;</span>
    這個段落使用了 jf-openhuninn-2.0 字型。
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://font.emtech.cc/emfont.min.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span>
    emfont.init()
<span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
                    </div>
                </div>
            </section>
            <section id="youRule">
                <h2 class="slideIn aos">你的文字，你說的算</h2>
                <p class="slideIn aos">
                    登入完成網域驗證後，
                    你可以輕鬆調整各種生成規則，以及管理已經生成的字體。
                </p>
                <div class="mac-container">
                    <div id="mac-dash"></div>
                    <img src="/static/img/macbook.webp" alt="" id="mac" />
                </div>
            </section>
        </main>
        <footer>
            <h2>emfont 背後的力量</h2>
            <p>
                emfont 能夠提供穩定且高品質的 webfont 服務，必須要感謝 zeabur
                提供台灣穩定高速的 SaaS 運算資源，感謝 OSS Planet 提供強大安全的
                VPS 服務，感謝 Cloudflare
                提供可靠的物件儲存服務，最重要的是，感謝每一位使用者。能夠讓每一位設計師不再被中文字體綁架，綻放腦中的想法就是我持續維護的最大動力。
            </p>
            <p>
                如果你喜歡這個開源專案，歡迎在 GitHub 留下一顆星星。
                而如果你有任何問題或有興趣協助開發，不要吝嗇在我們的 Discord
                伺服器中提出。
            </p>
            <p class="footer-em">- 毛哥EM</p>
            <div class="links">
                <div class="sponsors">
                    <img
                        src="/static/img/deployed-on-zeabur-dark.svg"
                        class="zeabur"
                        alt=""
                    />
                    <img src="/static/img/oss.png" class="ossPlanet" alt="" />
                    <img
                        src="/static/img/Cloudflare.svg"
                        class="cloudflare"
                        alt=""
                    />
                </div>
                <div class="socials">
                    <a href="https://github.com/edit-Mr/emfont"
                        ><img src="/static/img/GitHub-gray.svg" alt=""
                    /></a>
                    <a href="https://discord.gg/W8r9x4PwUE"
                        ><img src="/static/img/Discord-gray.svg" alt=""
                    /></a>
                    <a href="https://t.me/emfont"
                        ><img src="/static/img/Telegram-gray.svg" alt=""
                    /></a>
                </div>
            </div>
            <div class="credits">emfont 2024</div>
        </footer>
        <script>
            const marqueeText = document.getElementById("spaghetti");
            const baseSpeed = 20; // Initial animation duration in seconds
            const mac = document.getElementById("mac-dash");
            //aos
            function isElementInViewport(el) {
                const rect = el.getBoundingClientRect();
                return rect.bottom < 0 || rect.top > window.innerHeight;
            }

            function scrollAnimation() {
                //aos
                var Elements = document.querySelectorAll(".aos");
                Elements.forEach(function (fadeInElement) {
                    if (!isElementInViewport(fadeInElement))
                        fadeInElement.classList.add("ed");
                    else fadeInElement.classList.remove("ed");
                });

                // marquee
                const scrollPercentage =
                    window.scrollY /
                    (document.documentElement.scrollHeight -
                        window.innerHeight);
                const newSpeed = baseSpeed - scrollPercentage * 10; // Adjust 15 to change max speed
                marqueeText.style.animationDuration = `${Math.max(
                    5,
                    newSpeed
                )}s`; // Minimum 5 seconds
                const top =
                    50 -
                    (mac.getBoundingClientRect().top / window.innerHeight) *
                        100;
                //parallax image effect for #mac
                if (top >= 0 && top <= 100)
                    mac.style.backgroundPositionY = `${top}%`;
            }

            document.addEventListener("scroll", scrollAnimation);
            scrollAnimation();
        </script>
        <!-- <script src="https://font.emtech.cc/emfont.min.js"></script>

        <script>
            emfont.init();
        </script> -->
    </body>
</html>
