<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>emfont - 免費中文字體 Webfont 服務</title>
        <meta
            property="og:title"
            content="emfont - 免費中文字體 Webfont 服務"
        />
        <link rel="stylesheet" href="/static/css/home.css" />
    </head>
    <body class="emfont-NotoSansTC">
        <div class="body-container">
            <%- include('../partials/nav') %>
            <header class="fader">
                <div class="circle">
                    <div class="spaghetti"><div id="spaghetti"></div></div>
                    <div class="circle2"></div>
                </div>
                <div class="header-content">
                    <img
                        src="/static/img/home-circle-bottom.svg"
                        class="shape home-circle-bottom"
                    />
                    <img
                        src="/static/img/home-circle-top.svg"
                        class="shape home-circle-top"
                    />
                    <img
                        src="/static/img/home-square-bottom.svg"
                        class="shape home-square-bottom"
                    />
                    <img
                        src="/static/img/home-square-left.svg"
                        class="shape home-square-left"
                    />
                    <img
                        src="/static/img/home-square-right.svg"
                        class="shape home-square-right"
                    />
                    <img
                        src="/static/img/home-triangle-left.svg"
                        class="shape home-triangle-left"
                    />
                    <img
                        src="/static/img/home-triangle-right.svg"
                        class="shape home-triangle-right"
                    />
                    <h1 class="slideIn aos">不必<br />微軟正黑</h1>
                    <p class="slideIn aos">免費為你的文字注入靈魂<br /></p>
                </div>
            </header>
            <main>
                <section id="intro" class="slideIn aos">
                    <h2>專為中文而建的<br />免費開源 Webfont 服務</h2>
                    <p>
                        文字是網站的靈魂，是思想的表達，更是美感的載體。然而，中文字體因為檔案龐大、需要耗費大量流量，很少有免費中文字體的
                        webfont 服務。emfont
                        的誕生正是為了填補這一空白，整理了許多開源免費的字體。為小型開發者和個人提供一個優秀的中文字體解決方案。
                    </p>
                </section>
                <section id="m3">
                    <h2 class="slideIn aos">我懂你，<i>M3?</i></h2>
                    <div class="m3-container slideIn aos elements">
                        <div class="m3-stroke">
                            <div class="m3-content">
                                <div>
                                    <h3>免費</h3>
                                    <p>開源字體，完全免費。</p>
                                </div>
                                <div class="volcano"><img src="" alt="" /></div>
                            </div>
                        </div>

                        <div class="m3-stroke">
                            <div class="m3-content">
                                <div>
                                    <h3>簡單</h3>
                                    <p>
                                        只需一行 JavaSript，<br />自動完成所有操作。
                                    </p>
                                </div>
                                <div class="volcano"><img src="" alt="" /></div>
                            </div>
                        </div>

                        <div class="m3-stroke">
                            <div class="m3-content">
                                <div>
                                    <h3>極致壓縮</h3>
                                    <p>
                                        字體檔預設壓縮為 .woff 格式，<br />載入速度快。
                                    </p>
                                </div>
                                <div class="volcano"><img src="" alt="" /></div>
                            </div>
                        </div>

                        <div class="m3-stroke">
                            <div class="m3-content">
                                <div>
                                    <h3>細微控制</h3>
                                    <p>
                                        根據網站分頁格式，<br />自訂生成規則。
                                    </p>
                                </div>
                                <div class="volcano"><img src="" alt="" /></div>
                            </div>
                        </div>

                        <div class="m3-stroke">
                            <div class="m3-content">
                                <div>
                                    <h3>明確授權條款</h3>
                                    <p>
                                        所有字體接標示授權條款，<br />避免侵權。
                                    </p>
                                </div>
                                <div class="volcano"><img src="" alt="" /></div>
                            </div>
                        </div>

                        <div class="m3-stroke">
                            <div class="m3-content">
                                <div>
                                    <h3>開源</h3>
                                    <p>採用 Apache-2.0 授權。</p>
                                </div>
                                <div class="volcano"><img src="" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="hakka" class="slideIn aos">
                    <h2>客家級壓縮</h2>
                    <p>
                        emfont
                        會提取網頁中所有文字，打包一份專屬的字體檔案給你，不會多收錄一個字。
                    </p>
                    <div class="squeeze-container">
                        <div>
                            <p>以 550 字網站為例。</p>
                            <div class="squeeze-chart">
                                <div>
                                    <h3>原始字體</h3>
                                    <div class="squeeze-row">
                                        <div>
                                            <div
                                                class="squeeze-line squeeze-original"
                                            ></div>
                                            <span>18.6 MB</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3>emfont</h3>
                                    <div class="squeeze-row">
                                        <div>
                                            <div
                                                class="squeeze-line squeeze-emfont ed"
                                            ></div>
                                            <span>115 KB</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="usage">
                    <div>
                        <h2 class="slideIn aos">引入，啟動</h2>
                        <p class="slideIn aos">就是這麼簡單。</p>
                    </div>
                    <div class="box">
                        <pre><code class="aos"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"emfont-jfopenhuninn"</span>&gt;</span>
    這個段落使用了 jf-openhuninn-2.0 字型。
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://font.emtech.cc/emfont.min.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span>
    emfont.init()
<span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
                    </div>
                </section>
                <section id="youRule">
                    <h2 class="slideIn aos">你的文字，你說的算</h2>
                    <p class="slideIn aos">
                        登入完成網域驗證後，
                        你可以輕鬆調整各種生成規則，以及管理已經生成的字體。
                    </p>
                    <div class="mac-container">
                        <div id="mac-dash"></div>
                        <img src="/static/img/macbook.webp" alt="" id="mac" />
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
            <script>
                const marqueeText = document.getElementById("spaghetti");
                const baseSpeed = 20; // Initial animation duration in seconds
                const mac = document.getElementById("mac-dash");
                //aos
                function isElementInViewport(el) {
                    const rect = el.getBoundingClientRect();
                    return rect.bottom < 0 || rect.top > window.innerHeight;
                }

                function scrollAnimation() {
                    //aos
                    var Elements = document.querySelectorAll(".aos");
                    Elements.forEach(function (fadeInElement) {
                        if (!isElementInViewport(fadeInElement))
                            fadeInElement.classList.add("ed");
                        else fadeInElement.classList.remove("ed");
                    });

                    // marquee
                    const scrollPercentage =
                        window.scrollY /
                        (document.documentElement.scrollHeight -
                            window.innerHeight);
                    const newSpeed = baseSpeed - scrollPercentage * 10; // Adjust 15 to change max speed
                    marqueeText.style.animationDuration = `${Math.max(
                        5,
                        newSpeed
                    )}s`; // Minimum 5 seconds
                    const top =
                        50 -
                        (mac.getBoundingClientRect().top / window.innerHeight) *
                            100;
                    //parallax image effect for #mac
                    if (top >= 0 && top <= 100)
                        mac.style.backgroundPositionY = `${top}%`;
                }

                document.addEventListener("scroll", scrollAnimation);
                scrollAnimation();
            </script>
            <!-- <script src="https://font.emtech.cc/emfont.min.js"></script>

        <script>
            emfont.init();
        </script> -->
        </div>
    </body>
</html>
