<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/dashboard.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <h1>一個專案</h1>
            <div class="project-info">
                <img
                    src="/static/img/global.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">30</div>
                <img src="/static/img/a.svg" class="project-info-icon" alt="" />
                <div class="carve-text">5</div>
                <img
                    src="/static/img/analytics.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">2000</div>
            </div>
            <div class="nav">
                <a href="">概述</a>
                <a href="" class="current">安裝</a>
                <a href="">管理</a>
                <a href="">設定</a>
            </div>
            <section>
                <h2>網頁白名單</h2>
                <div class="box whitelist">
                    <button>font.emtech.cc</button>
                    <button>font.emtech.cc</button>
                    <button>font.emtech.cc</button>
                    <button id="add">+</button>
                </div>
                <h2>三步驟輕鬆使用</h2>
                <p>比把大象放進冰箱還少一步</p>
                <div class="box step">
                    <h3>1. 引用函式庫</h3>
                    <p>在網頁 HTML 任意位置引入 emfont.min.js</p>
                    <pre
                        class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"
                    ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://font.emtech.cc/emfont.min.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></span><small class="bg-black/30 absolute top-0 right-0 uppercase font-bold text-xs rounded-bl-md px-2 py-1"><span class="sr-only">Language:</span>HTML, XML</small></pre>
                </div>
                <div class="box step">
                    <h3>2. 選擇字體</h3>
                    <p>
                        給要添加字體的 HTML 元素加上字體專屬的
                        class。可包多層元素，與其他 class 混合使用。<br />
                        以下宣告方式皆合法。
                    </p>
                    <pre
                        class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"
                    ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"emfont-jfopenhuninn"</span>&gt;</span>這個段落使用了 jf-openhuninn-2.0 字型。<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></span><small class="bg-black/30 absolute top-0 right-0 uppercase font-bold text-xs rounded-bl-md px-2 py-1"><span class="sr-only">Language:</span>HTML, XML</small></pre>
                    <pre
                        class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"
                    ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code><span class="hljs-tag">&lt;<span class="hljs-name">body</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"emfont-975HazyGoSC"</span>&gt;</span> <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"px-6 text-center emfont-jfopenhuninn"</span>&gt;</span>這個段落使用了 jf-openhuninn-2.0 字型。<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span> <span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span></code></span><small class="bg-black/30 absolute top-0 right-0 uppercase font-bold text-xs rounded-bl-md px-2 py-1"><span class="sr-only">Language:</span>HTML, XML</small></pre>
                </div>
                <div class="box step">
                    <h3>3. 啟動！</h3>
                    <p>
                        呼叫 <code>emfont.init()</code> 來啟動。emfont
                        會自動統計網頁中需要套用字體的文字並套用，連 CSS
                        都無須設定。 若你的網頁使用
                        CSR（客戶端渲染）、還需要載入更多資源、甚至是你有載入動畫，你可以在任何時候重複呼叫
                        <code>emfont.init()</code>。
                        字體載入完成後會執行回呼函數，讓你知道所有字體都已經載入完成並套用。
                    </p>
                    <pre
                        class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"
                    ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code><span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span>
                        emfont.init()
                    <span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></span><small class="bg-black/30 absolute top-0 right-0 uppercase font-bold text-xs rounded-bl-md px-2 py-1"><span class="sr-only">Language:</span>HTML, XML</small></pre>
                </div>

                <%- include('../partials/friend') %>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
