<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/guide.css" />
    </head>
    <body>
        <nav>
            <div>
                <div class="nav-left"><div class="logo">emfont</div></div>
                <div class="nav-right">
                    <a href="/fonts">字體列表</a>
                    <a href="/docs">文檔</a>
                    <a class="github" href="https://github.com/edit-Mr/emfont"
                        ><img src="/static/img/GitHub.svg" alt=""
                    /></a>
                    <a href="https://discord.gg/W8r9x4PwUE"
                        ><img src="/static/img/Discord.svg" alt=""
                    /></a>
                    <a href="/login" class="login">登入</a>
                </div>
            </div>
        </nav>
        <main>
            <div class="box">
                <div class="content">
                    <h1>歡迎來到 emfont</h1>
                    <p>千里之行，始於登入。</p>
                    <a class="btn discord-login" href=""
                        ><img src="/static/img/GitHub-gray.svg" alt="" />使用
                        GitHub 登入</a
                    >
                </div>
            </div>
        </main>
    </body>
</html>
