<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>新增網域 | emfont</title>
        <meta property="og:title" content="新增網域 | emfont" />
        <link rel="stylesheet" href="/static/css/guide.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main class="step1 fader">
            <div class="box">
                <section class="content page1">
                    <h1>從網域開始...</h1>
                    <p>請輸入網域或子網域</p>
                    <div class="input">
                        <div class="input-container">
                            <input type="text" placeholder="example.com" />
                            <img
                                src="/static/img/login.svg"
                                alt=""
                                onclick="main.classList = 'step2'"
                                class="imgbtn"
                            />
                        </div>
                    </div>
                </section>
                <section class="content page2">
                    <h1>驗證網域</h1>
                    <p>
                        將下方的 TXT 記錄複製到 example.com 網域的 DNS 設定
                        或是將其放入 example.com/emfont.txt
                    </p>
                    <div class="code">
                        <div>
                            <div id="code" class="carve-text">
                                emfont-verification=_lzGx6qZA0I57F7OXK2Y
                            </div>
                            <img src="/static/img/copy.svg" alt="" id="copy" />
                        </div>
                    </div>
                    <button class="btn" onclick="main.classList = 'step3'">
                        驗證
                    </button>
                </section>
                <section class="content page3">
                    <h1>驗證成功！</h1>
                    <p>好耶! 你現在能將這個網域加入你的專案。</p>
                    <a class="btn" href="/dashbord">前往儀表板</a>
                </section>
            </div>
        </main>
        <script>
            const input = document.querySelector("input");
            const code = document.querySelector("#code");

            input.addEventListener("input", () => {
                code.innerText = `emfont-verification=${input.value}`;
            });

            const main = document.querySelector("main");
            // when enterd step1 domain and pressed enter, go to step 2
            input.addEventListener("keydown", e => {
                if (e.key === "Enter") {
                    main.classList = "step2";
                }
            });
        </script>
    </body>
</html>
