<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/dashboard.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <h1>一個專案</h1>
            <div class="project-info">
                <img
                    src="/static/img/global.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">30</div>
                <img src="/static/img/a.svg" class="project-info-icon" alt="" />
                <div class="carve-text">5</div>
                <img
                    src="/static/img/analytics.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">2000</div>
            </div>
            <div class="nav">
                <a href="../">概述</a>
                <a href="install">安裝</a>
                <a href="files">管理</a>
                <a href="settings" class="current">設定</a>
            </div>
            <section class="fader">
                <div class="overview">
                    <h2>本月流量</h2>
                    <div class="box line-chart">
                        <div id="increase">+50%</div>
                        <p>+500 MB</p>
                    </div>
                    <h2>統計</h2>
                    <div class="analytics-container">
                        <div class="box">
                            <h3>使用字體</h3>
                            <div class="carve-text"><span>5</span>個</div>
                        </div>
                        <div class="box">
                            <h3>使用頁面</h3>
                            <div class="carve-text"><span>25</span>個</div>
                        </div>
                        <div class="box">
                            <h3>使用字體</h3>
                            <div class="carve-text"><span>3</span>種</div>
                        </div>
                    </div>
                    <h2>排行榜</h2>
                    <div class="rank-container box">
                        <div class="rank">
                            <div class="rank-number">#1</div>
                            永
                        </div>
                        <div class="rank">
                            <div class="rank-number">#2</div>
                            永
                        </div>
                        <div class="rank">
                            <div class="rank-number">#3</div>
                            永
                        </div>
                    </div>
                </div>
                <div class="install">
                    <h2>網頁白名單</h2>
                    <div class="box whitelist">
                        <button>font.emtech.cc</button>
                        <button>font.emtech.cc</button>
                        <button>font.emtech.cc</button>
                        <button id="add">+</button>
                    </div>
                    <h2>三步驟輕鬆使用</h2>
                    <p>比把大象放進冰箱還少一步</p>
                    <div class="box step">
                        <h3>1. 引用函式庫</h3>
                        <p>在網頁 HTML 任意位置引入 emfont.min.js</p>
                        <pre
                            class="code-box"
                        ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code class="aos ed"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://font.emtech.cc/emfont.min.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></span></pre>
                    </div>
                    <div class="box step">
                        <h3>2. 選擇字體</h3>
                        <p>給要添加字體的 HTML 元素加上字體專屬的 class。</p>
                        <pre
                            class="code-box"
                        ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code class="aos ed"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"emfont-jfopenhuninn"</span>&gt;</span>這個段落使用了 jf-openhuninn-2.0 字型。<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></span></pre>
                    </div>
                    <div class="box step">
                        <h3>3. 啟動！</h3>
                        <p>
                            呼叫
                            <code class="aos ed">emfont.init()</code>
                            來啟動。emfont
                            會自動統計網頁中需要套用字體的文字並套用，連 CSS
                            都無須設定。 若你的網頁使用
                            CSR（客戶端渲染）、還需要載入更多資源、甚至是你有載入動畫，你可以在任何時候重複呼叫
                            <code class="aos ed">emfont.init()</code>。
                            字體載入完成後會執行回呼函數，讓你知道所有字體都已經載入完成並套用。
                        </p>
                        <pre
                            class="code-box"
                        ><span class="hljs mb-0 p-4 block min-h-full overflow-auto"><code class="aos ed"><span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span>
            emfont.init()
        <span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></span></pre>
                    </div>
                </div>
                <div class="settings">
                    <div class="setting first-setting">
                        <div>
                            <h2>Cloudflare R2</h2>
                            <p>
                                使用超過五次的字體將上傳至 Cloudflare R2
                                以加速。超過一個月未使用 (可能) 自動刪除。
                                (未來可能動態調整，詳情請見 DC 公告)
                            </p>
                        </div>
                        <input type="checkbox" id="cloudflare" />
                        <label class="checkbox" for="cloudflare"
                            ><div></div>
                            <div></div
                        ></label>
                    </div>
                    <div class="hr"></div>
                    <div class="setting">
                        <div>
                            <h2>相見時難別亦難</h2>
                            <p>分頁中不再出現的文字仍然保留在字體檔案中。</p>
                        </div>
                        <input type="checkbox" id="keep" />
                        <label class="checkbox" for="keep"
                            ><div></div>
                            <div></div
                        ></label>
                    </div>
                    <div class="hr"></div>
                    <div class="setting">
                        <div>
                            <h2>眾志成很大的檔案</h2>
                            <p>所有分頁共用一份字體，當看到新字時加入字體。</p>
                        </div>
                        <input type="checkbox" id="single" />
                        <label class="checkbox" for="single"
                            ><div></div>
                            <div></div
                        ></label>
                    </div>
                    <div class="hr"></div>
                    <div class="setting">
                        <div id="query">
                            <h2>他們是參數，我們不一樣</h2>
                            <p>
                                你的網站使用參數 (如?postID=123)
                                來控制分頁嗎?<br />
                                可以告訴我們那些參數應該被當作分頁看而不只是參數。<br />
                                (建議使用於商品訊息或部落格文章。使用者個人頁面內容重複性高建議使用一份字體即可)
                            </p>
                            <div class="button-cave query">postID</div>
                            <div class="button-cave">新增</div>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="setting">
                        <div id="query">
                            <h2>API</h2>
                            <p>好啦，要就拿去。</p>
                            <div class="btn" id="generateAPIKey">重新生成</div>
                            <div class="code">
                                <div>
                                    <div id="code" class="carve-text">
                                        emfont-verification=_lzGx6qZA0I57F7OXK2Y
                                    </div>
                                    <img
                                        src="/static/img/copy.svg"
                                        alt=""
                                        id="copy"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../partials/friend') %>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
