<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include('../partials/head') %>
        <title>字體 | emfont</title>
        <meta property="og:title" content="字體 | emfont" />
        <link rel="stylesheet" href="/static/css/dashboard.css" />
    </head>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <h1>一個專案</h1>
            <div class="project-info">
                <img
                    src="/static/img/global.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">30</div>
                <img src="/static/img/a.svg" class="project-info-icon" alt="" />
                <div class="carve-text">5</div>
                <img
                    src="/static/img/analytics.svg"
                    class="project-info-icon"
                    alt=""
                />
                <div class="carve-text">2000</div>
            </div>
            <div class="nav">
                <a href="">概述</a>
                <a href="">安裝</a>
                <a href="">管理</a>
                <a href="" class="current">設定</a>
            </div>
            <section>
                <div class="setting">
                    <div>
                        <h2>Cloudflare R2</h2>
                        <p>
                            使用超過五次的字體將上傳至 Cloudflare R2
                            以加速。超過一個月未使用 (可能) 自動刪除。
                            (未來可能動態調整，詳情請見 DC 公告)
                        </p>
                    </div>
                    <input type="checkbox" id="cloudflare" />
                    <label for="cloudflare"></label>
                </div>
                <div class="setting">
                    <div>
                        <h2>相見時難別亦難</h2>
                        <p>分頁中不再出現的文字仍然保留在字體檔案中。</p>
                    </div>
                    <input type="checkbox" id="cloudflare" />
                    <label for="cloudflare"></label>
                </div>
                <div class="setting">
                    <div>
                        <h2>眾志成很大的檔案</h2>
                        <p>所有分頁共用一份字體，當看到新字時加入字體。</p>
                    </div>
                    <input type="checkbox" id="cloudflare" />
                    <label for="cloudflare"></label>
                </div>
                <div class="setting">
                    <div>
                        <h2>他們是參數，我們不一樣</h2>
                        <p>
                            你的網站使用參數 (如?postID=123) 來控制分頁嗎?<br />
                            可以告訴我們那些參數應該被當作分頁看而不只是參數。<br />
                            (建議使用於商品訊息或部落格文章。使用者個人頁面內容重複性高建議使用一份字體即可)
                        </p>
                        <div class="button-cave">postID</div>
                        <div class="button-cave">新增</div>
                    </div>
                </div>

                <%- include('../partials/friend') %>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
