/** @format */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    text-align: center;
}

.box {
    width: 100%;
    height: 27rem;
    max-width: 37rem;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: #31456a;
    font-size: 2.6875rem;
    font-weight: 700;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.box > div {
    position: relative;
    overflow: hidden;
}

.step1 .page1,
.step2 .page2,
.step3 .page3 {
    transform: none;
}

.step2 .page1,
.step3 .page1,
.step3 .page2 {
    transform: translateX(-100%);
}
p {
    margin-block: 0.5rem 1.5rem;
}

.code {
    border-radius: 1rem;
    position: relative;
    margin-bottom: 1rem;
    background: #e3edf7;
    box-shadow: -6px -2px 16px 0px rgba(255, 255, 255, 0.8),
        6px 2px 16px 0px rgba(136, 165, 191, 0.48);
    padding: 4px;
    --copied-bg: #e3edf7;
    --copy-bg: linear-gradient(110deg, #ffffff 9%, #37536f);
}

.code::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: calc(1rem - 2px);
    opacity: 0.6;
    background: var(--copy-bg);
}
.code > div {
    position: relative;
    padding: 0 2rem;
    border-radius: calc(1rem - 4px);
    background: var(--copied-bg);
    width: 100%;
    height: 100%;
}
#code {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 20rem;
    padding: 0.8rem 0;
}

#copy {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    z-index: 3;
    cursor: pointer;
}
.code > div::after {
    content: "";
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    width: 4rem;
    z-index: 2;
    background: linear-gradient(90deg, transparent, var(--copied-bg) 90%);
}
