/** @format */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
    --max-width: 1320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    background-color: #ebf3fa;
    color: #48647d;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}
nav > div {
    display: flex;
    width: 100%;
    padding: 1.5rem 1.5rem;
    /* max-width: var(--max-width); */
    margin: auto;
    justify-content: space-between;
}
nav > div > div {
    height: 4.5rem;
    border-radius: 3.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px 16px 0px rgba(201, 217, 232, 0.3),
        -4px -4px 16px 0px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding-inline: 3.5rem;
    display: flex;
}
nav a.github {
    margin-right: 1rem;
}

.nav-left {
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    padding-block: 0rem;
}

.nav-left.open {
    padding-block: 1.5rem;
    height: 9rem;
}

.open .logo {
    margin-bottom: 1rem;
}

.nav-left button {
    font-size: 0;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: transparent;
    text-align: left;
    color: #1b2f41;
    display: block;
    transition: all 0.3s ease-in-out;
}

.open.nav-left button {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.nav-right {
    padding-right: 0.5rem;
    align-items: center;
}
.login {
    color: #fff;
    margin-right: 0;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3.5rem;
    border-radius: 2rem;
    background: linear-gradient(126deg, #009f5e 16.29%, #a9ce56 87.37%);
    box-shadow: 8px 8px 16px 0px rgba(255, 255, 255, 0.25) inset,
        4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
    transition: margin 0.3s ease-in-out;
}
nav a {
    display: flex;
    align-items: center;
    color: #31456a;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 3rem;
    height: fit-content;
}

nav img {
    height: 1.25rem;
}

.box {
    box-shadow: -8px -6px 80px 0px rgba(255, 255, 255, 0.18) inset,
        -16px -16px 40px 0px rgba(255, 255, 255, 0.8),
        16px 4px 64px 0px rgba(18, 61, 101, 0.3);
    padding: 2rem;
    border: solid 2px transparent;
    border-radius: 1.5rem;
    background-image: linear-gradient(211deg, #ebf2f9 19.14%, #c6d7eb 154.68%),
        linear-gradient(177deg, #fff, transparent, #8f9fae);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
footer {
    background-color: #1d1f23;
    border-radius: min(16rem, 20vw) min(16rem, 20vw) 0 0;
    padding: min(9rem, 10vw);
    padding-block: 9rem 2rem;
}

footer,
footer h2 {
    color: #d6e1ef;
}

footer p {
    max-width: 50rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

h2 {
    font-size: min(3.5rem, 9vw);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer-em {
    font-style: italic;
}

.sponsors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-width: min(100%, 34rem);
}

.sponsors img {
    height: 3rem;
}
.sponsors img.ossPlanet {
    height: 4.5rem;
}

.credits {
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
}
.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 5rem;
    height: 5rem;
}
.socials a img {
    width: 2.375rem;
    position: relative;
}

.socials a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(146deg, #23272b -6.95%, #17191c 91.44%);
    box-shadow: -4px -4px 16px 0px rgba(195, 200, 205, 0.06),
        4px 4px 18px 0px rgba(0, 0, 0, 0.6);
    filter: blur(2px);
}
pre {
    overflow-x: auto;
    color: #585260;
    tab-size: 4;
    line-height: 1.25rem;
    width: 100%;
}
code {
    font-family: "Share Tech Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
    background: linear-gradient(-90deg, rgb(81, 81, 255), green);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all 2s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

code.ed {
    background-size: 100% 100%;
}

.hljs-tag,
.hljs-name {
    color: #be4678;
}
.hljs-attr {
    color: #aa573c;
}
.hljs-string {
    color: #2a9292;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slideIn {
    transform: translateY(1rem);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
p.slideIn {
    transition-delay: 0.2s;
}
.slideIn.ed {
    transform: translateY(0rem);
    opacity: 1;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background: #e3edf7;
    box-shadow: -4px -2px 16px 0px #fff,
        4px 2px 12px 0px rgba(136, 165, 191, 0.54);
    color: #69727b;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    width: fit-content;
    border: none;
    outline: transparent;
    cursor: pointer;
}
.btn img {
    width: 1.8rem;
}
.btn-soft {
    position: relative;
}

.btn-soft::before {
    border-radius: 2.625rem;
    background: #edf2f8;
    box-shadow: -8px -4px 16px 0px rgba(255, 255, 255, 0.7),
        6px 4px 24px 0px rgba(136, 165, 191, 0.36);
    filter: blur(2px);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.input {
    padding: 1px;
    border-radius: calc(1rem + 1px);
    background: linear-gradient(-220deg, #ffffff8f 0%, rgba(55, 83, 111, 0.1));
}
.input-container {
    border: solid 2px #e5edf7;
    display: flex;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    background: #e3edf7;
    box-shadow: -3px -3px 7px 0px #fff inset,
        2px 2px 5px 0px rgba(136, 165, 191, 0.38) inset;
}
input,
textarea {
    width: 16rem;
    background-color: transparent;
    outline: transparent;
    border: 2px;
}

input:focus,
textarea:focus {
    outline: none;
}

.input:has(input:focus),
.input:has(textarea:focus) {
    background: linear-gradient(
        -220deg,
        rgba(55, 83, 111, 0.1),
        rgba(55, 83, 111, 0.144)
    );
}

.imgbtn {
    cursor: pointer;
    height: 2.375rem;
}
textarea {
    width: 100%;
    font-size: 1.5rem;
    resize: vertical;
    padding: 1.5rem;
}

select.btn {
    padding: 0.8rem 1rem;
    font-size: 1rem;
}

.elements {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    display: grid;
    gap: 1.5rem;
}
.m3-container {
    grid-auto-rows: 1fr;
}

.carve-text {
    font-feature-settings: "case" on;
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6),
        1px 1px 2px rgba(20, 44, 73, 0.37);
    font-family: "Share Tech Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
    letter-spacing: 0.05rem;
    background: linear-gradient(
        279deg,
        #202e43 0%,
        rgba(155, 171, 192, 0.4) 225.55%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* max width 30rem */
@media (max-width: 50rem) {
    nav > div {
        padding: 1rem 1rem;
    }
    nav > div > div {
        padding-inline: 2rem;
    }
    nav a {
        margin-right: 1.5rem;
    }
    nav img {
        height: 1rem;
    }
    .nav-left button {
        font-size: 0.875rem;
    }
    .login {
        font-size: 1rem;
        width: 6rem;
        height: 3rem;
    }
    .logo {
        font-size: 1rem;
    }

    footer h2 {
        font-size: 2.5rem;
    }
    footer p {
        font-size: 1rem;
    }
}
