/** @format */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
    --max-width: 1320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
input,
button {
    font-family: "Noto Sans TC", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
body {
    background-color: #ebf3fa;
    color: #48647d;
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
}
nav > div {
    display: flex;
    width: 100%;
    padding: 1.5rem 1.5rem;
    pointer-events: none;
    /* max-width: var(--max-width); */
    margin: auto;
    justify-content: space-between;
}
nav > div > div {
    pointer-events: all;
    height: 4.5rem;
    border-radius: 3.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px 16px 0px rgba(201, 217, 232, 0.3),
        -4px -4px 16px 0px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding-inline: 3.5rem;
    display: flex;
}
.nav-right a.github {
    margin-right: 1rem;
}

.nav-left {
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    padding-block: 0rem;
}

.nav-left.open {
    padding-block: 1.5rem;
    height: 9rem;
}

.open .logo {
    margin-bottom: 1rem;
}

.nav-left button {
    font-size: 0;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: transparent;
    text-align: left;
    color: #1b2f41;
    display: block;
    transition: all 0.3s ease-in-out;
}

.open.nav-left button {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.nav-right {
    padding-right: 0.5rem;
    align-items: center;
}
.login,
.profile {
    margin-right: 0;
    height: 3.5rem;
    box-shadow: 8px 8px 16px 0px rgba(255, 255, 255, 0.25) inset,
        4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}
.login {
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border-radius: 2rem;
    background: linear-gradient(126deg, #009f5e 16.29%, #a9ce56 87.37%);
}
.profile {
    background: linear-gradient(126deg, #8a8a8a 16.29%, #f3f3f3 87.37%);
    width: 3.5rem;
    display: block;
    border-radius: 50%;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
    transition: margin 0.3s ease-in-out;
}
nav a {
    display: flex;
    align-items: center;
    color: #31456a;
    font-size: 1.25rem;
    text-decoration: none;
    height: fit-content;
}
.nav-right a {
    margin-right: 3rem;
}

nav img {
    height: 1.25rem;
}

.box {
    box-shadow: -8px -6px 80px 0px rgba(255, 255, 255, 0.18) inset,
        -16px -16px 40px 0px rgba(255, 255, 255, 0.8),
        16px 4px 64px 0px rgba(18, 61, 101, 0.3);
    padding: 2rem;
    border: solid 2px transparent;
    border-radius: 1.5rem;
    background-image: linear-gradient(211deg, #ebf2f9 19.14%, #c6d7eb 154.68%),
        linear-gradient(177deg, #fff, transparent, #8f9fae);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
footer {
    background-color: #1d1f23;
    border-radius: min(16rem, 20vw) min(16rem, 20vw) 0 0;
    padding: min(9rem, 10vw);
    padding-block: 9rem 2rem;
}

footer,
footer h2 {
    color: #d6e1ef;
}

footer p {
    max-width: 50rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

h2 {
    font-size: min(3.5rem, 9vw);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer-em {
    font-style: italic;
}

.sponsors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-width: min(100%, 34rem);
}

.sponsors img {
    height: 3rem;
}
.sponsors img.ossPlanet {
    height: 4.5rem;
}

.credits {
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
}
.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.socials {
    display: flex;
    gap: 1.875rem;
    margin-top: 1rem;
}

.socials a,
.button-cute {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.button-cute {
    border: none;
    outline: transparent;
    background: transparent;
}

.socials a img,
.button-cute img {
    width: 2rem;
    position: relative;
}

.socials a::before,
.button-cute::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(146deg, #23272b -6.95%, #17191c 91.44%);
    box-shadow: -4px -4px 16px 0px rgba(195, 200, 205, 0.06),
        4px 4px 18px 0px rgba(0, 0, 0, 0.6);
}

.button-cute::before {
    background: #edf2f8;
    box-shadow: -8px -4px 16px 0px rgba(255, 255, 255, 0.7),
        6px 4px 24px 0px rgba(136, 165, 191, 0.36);
    filter: blur(2px);
}
pre {
    overflow-x: auto;
    color: #585260;
    tab-size: 4;
    line-height: 1.25rem;
    width: 100%;
}
code {
    font-family: "Share Tech Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
    background: linear-gradient(-90deg, rgb(81, 81, 255), green);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all 2s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

code.ed {
    background-size: 100% 100%;
}

.hljs-tag,
.hljs-name {
    color: #be4678;
}
.hljs-attr {
    color: #aa573c;
}
.hljs-string {
    color: #2a9292;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slideIn {
    transform: translateY(1rem);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
p.slideIn {
    transition-delay: 0.2s;
}
.slideIn.ed {
    transform: translateY(0rem);
    opacity: 1;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background: #e3edf7;
    box-shadow: -4px -2px 16px 0px #fff,
        4px 2px 12px 0px rgba(136, 165, 191, 0.54);
    color: #69727b;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    width: fit-content;
    border: none;
    outline: transparent;
    cursor: pointer;
}
.btn img {
    width: 1.8rem;
}
.btn-soft {
    position: relative;
}

.btn-soft::before {
    border-radius: 2.625rem;
    background: #edf2f8;
    box-shadow: -8px -4px 16px 0px rgba(255, 255, 255, 0.7),
        6px 4px 24px 0px rgba(136, 165, 191, 0.36);
    filter: blur(2px);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.box-curved {
    border-radius: 100rem;
    background: #e3edf7;
    box-shadow: -4px -2px 16px 0px #fff,
        4px 2px 16px 0px rgba(136, 165, 191, 0.54);
    padding: 2rem;
}

.button-cave {
    border-radius: 1.25rem;
    opacity: var(--sds-size-stroke-border);
    background: radial-gradient(
            413.62% 413.62% at -124.11% -101.79%,
            #b9cce2 11.1%,
            #fff 85.21%
        ),
        #e3edf7;
    box-shadow: -4px -2px 16px 0px rgba(255, 255, 255, 0.7),
        4px 2px 16px 0px rgba(136, 165, 191, 0.38);
    color: #31456a;
    padding: 0.5rem 1rem;
    outline: transparent;
    border: none;
    cursor: pointer;
}

.input {
    padding: 1px;
    border-radius: calc(1rem + 1px);
    background: linear-gradient(-220deg, #ffffff8f 0%, rgba(55, 83, 111, 0.1));
}
.input-container {
    border: solid 2px #e5edf7;
    display: flex;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    background: #e3edf7;
    box-shadow: -3px -3px 7px 0px #fff inset,
        2px 2px 5px 0px rgba(136, 165, 191, 0.38) inset;
}
input,
textarea {
    width: 16rem;
    background-color: transparent;
    outline: transparent;
    border: 2px;
    height: 2.375rem;
}

input:focus,
textarea:focus {
    outline: none;
}

.input:has(input:focus),
.input:has(textarea:focus) {
    background: linear-gradient(
        -220deg,
        rgba(55, 83, 111, 0.1),
        rgba(55, 83, 111, 0.144)
    );
}

.imgbtn {
    cursor: pointer;
    height: 2.375rem;
}
textarea {
    width: 100%;
    font-size: 1.5rem;
    resize: vertical;
    padding: 1.5rem;
    height: 8rem;
}

select.btn {
    padding: 0.8rem 1rem;
    font-size: 1rem;
}

.elements {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    display: grid;
    gap: 1.5rem;
}
.m3-container {
    grid-auto-rows: 1fr;
}

.carve-text {
    font-feature-settings: "case" on;
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6),
        1px 1px 2px rgba(20, 44, 73, 0.37);
    font-family: "Share Tech Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
    letter-spacing: 0.05rem;
    background: linear-gradient(
        279deg,
        #202e43 0%,
        rgba(155, 171, 192, 0.4) 225.55%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hr {
    background: #d4d7dd;
    height: 1px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 3rem;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox > div:first-child {
    width: 3.5rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    border-radius: 10rem;
    box-shadow: 2px 2px 5px 0px rgba(105, 141, 173, 0.4) inset;
    border: solid 1px transparent;
    background-image: linear-gradient(#dee8f2, #dee8f2),
        linear-gradient(-45deg, #fff, #c6d7eb);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    overflow: hidden;
    transition: all 0.3s;
}
.checkbox > div:first-child::before {
    position: absolute;
    left: 1px;
    top: 1px;
    content: "";
    width: calc(2rem - 3px);
    height: calc(2rem - 3px);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(130deg, #e6eef8 0%, #fff 111.48%);
    box-shadow: 0px -1px 1px 0px rgba(85, 102, 123, 0.4) inset,
        -4px -2px 16px 0px rgba(255, 255, 255, 0),
        2px 2px 8px 0px rgba(136, 165, 191, 0.28);
    pointer-events: none;
    transition: all 0.3s;
}

input:checked + .checkbox > div:first-child::before {
    left: calc(3.5rem - 2rem);
}

.checkbox > div:last-child {
    --size: 0.55rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(46, 68, 87, 0) inset,
        3px 3px 5px 0px rgba(213, 230, 245, 0.4);
    border: solid 1px transparent;
    background-image: linear-gradient(107deg, #587ca5 -62.32%, #fff 190.73%),
        linear-gradient(-45deg, #ffffff, transparent);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
}
.checkbox > div:last-child::after {
    position: absolute;
    content: "";
    height: calc(var(--size) - 3px);
    width: calc(var(--size) - 3px);
    background-color: #70ff00;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #81df49;
    box-shadow: -0.2px -0.2px 0.4px 0px rgba(46, 68, 87, 0.2) inset,
        0.6px 0.6px 2px 0px rgba(145, 227, 105, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
}
input:checked + .checkbox > div:last-child::after {
    opacity: 1;
}

.code {
    border-radius: 1rem;
    position: relative;
    margin-bottom: 1rem;
    background: #e3edf7;
    box-shadow: -6px -2px 16px 0px rgba(255, 255, 255, 0.8),
        6px 2px 16px 0px rgba(136, 165, 191, 0.48);
    padding: 4px;
    --copied-bg: #e3edf7;
    --copy-bg: linear-gradient(110deg, #ffffff 9%, #37536f);
}

.code::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: calc(1rem - 2px);
    opacity: 0.6;
    background: var(--copy-bg);
}
.code > div {
    position: relative;
    padding: 0 2rem;
    border-radius: calc(1rem - 4px);
    background: var(--copied-bg);
    width: 100%;
    height: 100%;
}
#code {
    white-space: nowrap;
    overflow-x: auto;
    padding: 0.8rem 0;
}

#copy {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    z-index: 3;
    cursor: pointer;
}
.code > div::after {
    content: "";
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    width: 4rem;
    z-index: 2;
    background: linear-gradient(90deg, transparent, var(--copied-bg) 90%);
}

#nav {
    display: none;
}

.nav-toggle {
    display: none;
}

.pop {
    filter: blur(10px) brightness(0.8);
}

.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 27rem;
    max-height: 80svh;
    max-width: 37rem;
    display: none;
    opacity: 0;
}
.pop + .popUp {
    display: block;
    animation: fadeInBottom 0.5s forwards;
}

.m3-stroke {
    padding: 1px;
    background: linear-gradient(
        -200deg,
        #ffffff 10%,
        transparent 51%,
        #8f9fae 130%
    );
    border-radius: calc(1.5rem + 1px);
}
.m3-content {
    border-radius: 1.5rem;
    background: linear-gradient(211deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
    box-shadow: -8px -6px 80px 0px rgba(255, 255, 255, 0.18) inset,
        8px 40px 96px 0px rgba(18, 61, 101, 0.14);
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.project {
    margin-bottom: 2rem;
}

.project > div {
    padding: 3rem 3rem;
}

.project-title {
    flex: 1;
    margin-left: 1rem;
}

.project-data {
    display: flex;
    align-items: center;
    gap: 1.128rem;
    text-align: center;
}

.project-data .carve-text {
    margin-top: 0.3rem;
}
.volcano {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    background: radial-gradient(
            413.62% 413.62% at -124.11% -101.79%,
            #b9cce2 19%,
            #fff 77.71%
        ),
        #e3edf7;
    border-radius: 50%;
    border: solid 2px #fff;
    opacity: var(--sds-size-stroke-border);
    filter: drop-shadow(6px 5px 24px rgba(112, 139, 163, 0.28))
        drop-shadow(-10px -6px 32px rgba(255, 255, 255, 0.6)) blur(2px);
}

.domain-container {
    display: flex;
    gap: 1rem;
    margin-bottom: -.5rem;
}

.domain-container .m3-stroke {
    width: 10rem;
}

.domain-container .m3-content {
    flex-direction: column;
    text-align: center;
}
.domain-container h3 {
    text-align: center;
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6),
        1px 1px 2px rgba(20, 44, 73, 0.31);
    font-size: 0.875rem;
    font-weight: 600;
}
.friends {
    display: flex;
    justify-content: center;
    gap: 4rem;
    position: relative;
    transform: translate(4px, 4rem);
}
.friend {
    flex: 1;
    border-radius: 3.1875rem;
    background: #f8fbff;
    padding: 4.5rem min(3rem, 5vw);
    position: relative;
}

.friend::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: calc(100% - 4rem);
    border-radius: 3.1875rem;
    background: #c9d9e8;
    z-index: -1;
    filter: blur(20px);
}

.friend h2 {
    font-size: 2rem;
    margin: 0;
}

.friend p {
    color: #31456a;
    margin-block: 1rem;
}

.friend a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    width: 14em;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.6),
        6px 9px 40px 0px rgba(63, 60, 255, 0.44);
    border: solid 1px transparent;
    background-image: linear-gradient(88deg, #8d8bff -7.64%, #585ee6 145.94%),
        linear-gradient(90deg, #fff, #444be0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translate(-50%, -20%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
/* max width 30rem */
@media (max-width: 50rem) {
    footer h2 {
        font-size: 2.5rem;
    }
    footer p {
        font-size: 1rem;
    }
    .nav-right {
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        gap: 0rem;
        padding: 1rem;
        gap: 1.5rem;
        overflow: hidden;
        height: 3.5rem;
    }
    .nav-right a {
        font-size: 1.25rem;
        margin: 0;
    }
    .nav-right a.github {
        margin-right: 0;
    }
    #nav:checked ~ .nav-right {
        height: 20rem;
    }
    #nav:checked ~ .nav-right.logged {
        height: 24rem;
    }
    .nav-right a img {
        height: 1rem;
    }
    nav > div > div {
        border-radius: 2rem;
    }
    .nav-left {
        display: none;
    }
    nav > div {
        justify-content: flex-end;
    }
    .nav-toggle {
        display: block;
        cursor: pointer;
    }
    .friends {
        flex-direction: column;
        gap: 2rem;
    }
    .friend {
        padding: 3rem min(3rem, 5vw);
        border-radius: 2.125rem;
    }
}

.fader > * {
    opacity: 0;
    transition: opacity 0.4s;
}

.fader.fade-in > * {
    opacity: 1;
}

.fader.fade-out > * {
    opacity: 0;
}
