<footer>
    <h2>emfont 背後的力量</h2>
    <p>
        emfont 能夠提供穩定且高品質的 webfont 服務，必須要感謝 zeabur
        提供台灣穩定高速的 SaaS 運算資源，感謝 OSS Planet 提供強大安全的
        VPS 服務，感謝 Cloudflare
        提供可靠的物件儲存服務，最重要的是，感謝每一位使用者。能夠讓每一位設計師不再被中文字體綁架，綻放腦中的想法就是我持續維護的最大動力。
    </p>
    <p>
        如果你喜歡這個開源專案，歡迎在 GitHub 留下一顆星星。
        而如果你有任何問題或有興趣協助開發，不要吝嗇在我們的 Discord
        伺服器中提出。
    </p>
    <p class="footer-em">- 毛哥EM</p>
    <div class="links">
        <div class="sponsors">
            <img
                src="/static/img/deployed-on-zeabur-dark.svg"
                class="zeabur"
                alt=""
            />
            <img src="/static/img/oss.png" class="ossPlanet" alt="" />
            <img
                src="/static/img/Cloudflare.svg"
                class="cloudflare"
                alt=""
            />
        </div>
        <div class="socials">
            <a href="https://github.com/edit-Mr/emfont"
                ><img src="/static/img/GitHub-gray.svg" alt=""
            /></a>
            <a href="https://discord.gg/W8r9x4PwUE"
                ><img src="/static/img/Discord-gray.svg" alt=""
            /></a>
            <a href="https://t.me/emfont"
                ><img src="/static/img/Telegram-gray.svg" alt=""
            /></a>
        </div>
    </div>
    <div class="credits">emfont 2024</div>
</footer>