<!-- @format -->

<footer>
    <h2>emfont 背後的力量</h2>
    <p>
        emfont 能夠提供穩定且高品質的 webfont 服務，必須要感謝
        <a href="https://zeabur.com/" target="_blank">zeabur</a> 以及
        <a href="https://sponsor.ncse.tw/" target="_blank">國雲網路</a>
        提供台灣高速穩定的運算資源。
        最重要的是，感謝每一位使用者。能夠讓每一位設計師不再被中文字體以及金錢綁架，綻放腦中的想法，是我們最大的榮幸。
    </p>
    <p>
        如果你喜歡這個開源專案，歡迎在
        <a href="https://github.com/emfont/emfont">GitHub</a> 留下一顆星星。
        而如果你有任何問題或有興趣協助開發，不要吝嗇在我們的
        <a href="">Discord 伺服器</a> 中提出。
    </p>
    <div class="links">
        <div class="sponsors">
            <a href="https://zeabur.com/" target="_blank"
                ><img
                    src="/static/img/deployed-on-zeabur-dark.svg"
                    class="zeabur"
                    alt="zeabur logo"
            /></a>
            <a href="https://sponsor.ncse.tw/" target="_blank"
                ><img src="/static/img/ncse.png" class="ncse" alt="國雲網路 logo"
            /></a>
            <!-- <img src="/static/img/Cloudflare.svg" class="cloudflare" alt="" /> -->
        </div>
        <div class="socials">
            <a href="https://github.com/edit-Mr/emfont"
                ><img src="/static/img/GitHub-gray.svg" alt="GitHub"
            /></a>
            <a href="https://discord.gg/W8r9x4PwUE"
                ><img src="/static/img/Discord-gray.svg" alt="Discord"
            /></a>
            <a href="https://t.me/emfont"
                ><img src="/static/img/Telegram-gray.svg" alt="Telegram"
            /></a>
        </div>
    </div>
    <div class="credits">emfont 2024</div>
</footer>
