<!-- @format -->

<div class="friends elements m3-container">
    <div class="friend">
        <h2>加入 EM’s Base</h2>
        <p>第一時間獲得最新資訊，以及維護公告。</p>
        <a href="">加入 Discord 伺服器</a>
    </div>
    <div class="friend">
        <h2>星臨萬戶動，月傍九霄多。</h2>
        <p>喜歡 emfont 嗎？到 GitHub 給下顆星星吧！</p>
        <a href="">前往 GitHub</a>
    </div>
</div>
