<!-- @format -->

<nav>
    <div>
        <div class="nav-left" id="logo">
            <div class="logo">emfont</div>
            <button>下載 Logo SVG</button><button>下載 Logo 包</button>
        </div>
        <input type="checkbox" id="nav" />
        <div class="nav-right open">
            <label for="nav" class="nav-toggle">menu</label>
            <a href="/dashboard">儀錶板</a>
            <a href="/fonts">字體列表</a>
            <a href="https://doc.font.emtech.cc">文檔</a>
            <a class="github" href="https://github.com/edit-Mr/emfont"
                ><img src="/static/img/GitHub.svg" alt=""
            /></a>
            <a href="https://discord.gg/W8r9x4PwUE"
                ><img src="/static/img/Discord.svg" alt=""
            /></a>
            <!-- <a href="/login" class="login">登入</a> -->
            <img
                src="https://raw.githubusercontent.com/Edit-Mr/Edit-Mr/main/avatar.PNG"
                alt=""
                class="profile"
            />
        </div>
    </div>
</nav>

<script>
    // when right click #logo, add class, when click outside, remove class
    const logo = document.getElementById("logo");
    logo.addEventListener("contextmenu", function (event) {
        event.preventDefault();
        logo.classList.add("open");
    });

    // Remove class on click outside
    document.addEventListener("click", function (event) {
        if (!logo.contains(event.target)) {
            logo.classList.remove("open");
        }
    });
</script>
