/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 0.8rem;
}
body {
    color: #ccc;
    background: #060913;
    font-family: "genyogothic", system-ui, sans-serif;
}
nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(24, 24, 27, 0.01) 0px 25px 7px 0px,
        rgba(24, 24, 27, 0.04) 0px 16px 6px 0px,
        rgba(24, 24, 27, 0.15) 0px 9px 5px 0px,
        rgba(24, 24, 27, 0.26) 0px 4px 4px 0px,
        rgba(24, 24, 27, 0.29) 0px 1px 2px 0px,
        rgba(24, 24, 27, 0.3) 0px 0px 0px 0px;
    border-bottom: solid 1px rgb(52 56 65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}
nav > div {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    height: 100%;
    max-width: 1400px;
    margin: auto;
}
nav h1 {
    font-size: 1.5rem;
}
nav ul {
    display: none;
    list-style: none;
    margin-inline: 2rem;
    gap: 4rem;
    margin-left: 4rem;
}
.social {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 1rem;
}

.social a img {
    height: 1.5rem;
    transition: filter 0.3s;
}

.social a img:hover {
    filter: opacity(0.8);
}
nav a:hover {
    color: #1aa4ea;
    text-decoration: none;
}
a:hover {
    color: #1aa4ea;
    text-decoration: underline;
    transition: color 0.3s;
}
a {
    color: rgb(242, 246, 250);
    text-decoration: none;
}
header {
    padding: 8rem 1rem 0;
    text-align: center;
    position: relative;
}
header::before {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    -webkit-mask-image: linear-gradient(
        transparent 30%,
        rgba(0, 0, 0, 0.45) calc(100% - 11rem)
    );
    mask-image: radial-gradient(
        ellipse at bottom,
        rgba(0, 0, 0),
        transparent 80%
    );
    animation: fadeIn 2s;
}
header h2 {
    font-size: min(3.75rem, 9vw);
    height: 1.2em;
    margin: auto;
    position: relative;
    padding-inline: 1rem;
    white-space: nowrap;
}

.beta {
    font-size: 0.875rem;
    line-height: 1.5rem;
    height: 1.5rem;
    margin: auto;
    margin-bottom: 1rem;
    border: solid rgb(133 139 152) 1px;
    padding-inline: 0.75rem;
    width: fit-content;
    border-radius: 0.75rem;
}

.example {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.macbook {
    width: 100%;
    z-index: 2;
    position: relative;
}
.compare {
    position: absolute;
    top: 10.3%;
    left: 10.27%;
    width: 79.5%;
    z-index: 1;
}
.noNeedText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.noNeedText,
.compare {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
header p {
    font-size: 1.2rem;
}
section {
    max-width: 1280px;
    margin: auto;
    position: relative;
    padding: 3rem 1.5rem;
}
main {
    position: relative;
}
main::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    -webkit-mask-image: linear-gradient(
        transparent 30%,
        rgba(0, 0, 0, 0.45) calc(100% - 11rem)
    );
    mask-image: radial-gradient(ellipse at top, rgba(0, 0, 0), transparent 80%);
    animation: fadeIn 2s;
}
#about {
    padding: 10rem 1.5rem 6rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

main p {
    font-size: 1.25rem;
    max-width: 35rem;
}

.elements {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.elements > div,
article {
    border: 1px solid #ddd;
    background-color: #0c0f19;
    border: solid 1px #858b9833;
    border-radius: 0.75rem;
    padding: 1.5rem;
}
.elements > div p {
    font-size: 1rem;
}
.squeeze-container {
    margin-top: 2rem;
    padding: 4rem 2rem;
    border-radius: 1rem;
    background-color: rgb(12 15 25);
    border: solid #858b9833 1px;
}
.squeeze-container h3 {
    margin: 0;
    width: 4.5em;
}
.squeeze-container p {
    font-size: 1rem;
    color: rgb(133 139 152);
    margin-bottom: 1rem;
}
.squeeze-chart > div {
    margin-bottom: 0.5rem;
}
.squeeze-chart > div,
.squeeze-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.squeeze-row {
    flex: 1;
    border-radius: 0.5rem;
    border: solid 1px #545864;
    padding: 0.1rem;
    height: 2.5rem;
}
.squeeze-line {
    height: 100%;
    border-radius: 0.4rem;
}
.squeeze-original {
    background-color: rgba(255, 255, 255, 0.082);
    flex-grow: 1;
}
.squeeze-emfont.ed{
    flex-grow: 0;
}
.squeeze-emfont {
    background-image: linear-gradient(247.23deg, #4af2c8, #2f4cb3);
    width: .5%;
    flex-grow: 1;
    transition: all 1s .3s ease-out;
}
.squeeze-emfont + span {
    font-weight: 800;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5em;
    background-image: linear-gradient(247.23deg, #4af2c8, #2f4cb3);
}
.squeeze-row span {
    margin-right: 1rem;
}

#sqeeze::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 50%;
    bottom: -3rem;
    filter: blur(160px);
    transform: translate(-50%, -50%) rotate(-7deg);
    width: 100%;
    height: 50%;
    background: linear-gradient(270deg, #40debf4d, #334ba94d);
}
.emcode {
    color: #fff;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
    tab-size: 4;
    line-height: 1.25rem;
}
pre {
    padding: 1.5rem;
    border: solid 1px #2c3437;
    background-color: #0d121c;
    border-radius: 1rem;
    overflow-x: auto;
}
#installation {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
#installation > div {
    flex: 1;
}

select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: solid 1px #858b9833;
    background-color: #0c0f19;
    color: #ccc;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ccc'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 1.5em;
    cursor: pointer;
    display: block;
    margin-block: 1rem;
}

textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    border: solid 1px #858b9833;
    background-color: #0c0f19;
    color: #ccc;
    width: 100%;
    resize: vertical;
}

article {
    position: relative;
}
article .forever {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #ffffff2d;
    font-size: 4em;
}
article code {
    font-size: 1rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
}

article p {
    margin-top: 0.5rem;
}
article h3 {
    display: flex;
    align-items: flex-end;
}

.license {
    margin-left: 0.5rem;
    background-image: linear-gradient(247.23deg, #4af2c8, #2f4cb3);
    color: #fff;
    font-size: 1rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    padding-inline: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.license:empty {
    display: none;
}

.version {
    margin-left: 0.3rem;
    font-size: 1rem;
    color: #7e7e7e;
}

footer {
    border-top: solid 1px rgb(52 56 65);
    max-width: 1280px;
    margin: auto;
    padding: 1rem 1.5rem;
    line-height: 1.5;
    justify-content: space-between;
}
footer a {
    color: #ebebeb;
}

.emcode-tag {
    color: #62c8f3;
}
.emcode-name {
    font-weight: 700;
}
.emcode-string {
    color: #a2fca2;
}
.emcode-variable {
    color: #ade5fc;
}
.emcode-title {
    color: #ffa;
}
.emcode-keyword {
    color: #fcc28c;
}
.emcode-comment {
    color: #888;
}
@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
    .elements {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    header h2 {
        margin-bottom: 1rem;
    }
    nav ul {
        display: flex;
    }
}
@media (min-width: 1024px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
    }
    #installation {
        flex-direction: row;
        align-items: center;
    }
    footer {
        display: flex;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slideIn {
    transform: translateY(1rem);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.slideIn.ed {
    transform: translateY(0rem);
    opacity: 1;
}
